<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inovationware.toolkit">

    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_BACKGROUND_ACTIVITIES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:minSdkVersion="30" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <queries>
        <package android:name="android.permission.QUERY_ALL_PACKAGES" />
    </queries>

    <application
        android:name=".global.library.app.Shared"
        android:allowBackup="true"
        android:clearTaskOnLaunch="true"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="internalOnly"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme">
        <activity
            android:name=".ui.activity.StopServiceActivity"
            android:exported="false"
            android:label="Stop..."
            android:parentActivityName=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.HelpActivity"
            android:exported="false"
            android:label=""
            android:parentActivityName=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.ManageBoardActivity"
            android:exported="false"
            android:label="Meetings"
            android:parentActivityName=".ui.activity.BoardActivity" />
        <activity
            android:name=".ui.activity.BoardActivity"
            android:exported="false"
            android:label="Conversations"
            android:parentActivityName=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.CyclesByDayActivity"
            android:exported="false"
            android:label="Week View"
            android:parentActivityName=".ui.activity.CyclesActivity" />
        <activity
            android:name=".ui.activity.CyclesDayViewActivity"
            android:exported="false"
            android:label="Day View"
            android:parentActivityName=".ui.activity.CyclesActivity" />
        <activity
            android:name=".ui.activity.EspActivity"
            android:exported="false"
            android:label="ESPHome Configuration"
            android:parentActivityName=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.ScheduleActivity"
            android:exported="false"
            android:label="Scheduler"
            android:parentActivityName=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.ProfilerActivity"
            android:exported="false"
            android:label="Family View"
            android:parentActivityName=".ui.activity.CyclesActivity" />
        <activity
            android:name=".ui.activity.CyclesActivity"
            android:exported="false"
            android:label="Cycles"
            android:parentActivityName=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.GitHubActivity"
            android:exported="false"
            android:label="Github"
            android:parentActivityName=".ui.activity.CodeActivity" />
        <activity
            android:name=".ui.activity.ConverterActivity"
            android:exported="false"
            android:label="Convert Unit"
            android:parentActivityName=".ui.activity.CodeActivity" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false"
            android:label=""
            android:parentActivityName=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.CodeActivity"
            android:exported="false"
            android:label=""
            android:parentActivityName=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:label="About Data Transfer"
            android:parentActivityName=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.ReplyActivity"
            android:exported="true"
            android:label="to PC"
            android:parentActivityName=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.AdvancedSettingsActivity"
            android:label="Advanced Settings"
            android:parentActivityName=".ui.activity.SettingsActivity" /> <!-- android:parentActivityName=".ui.activity.NetTimerActivity" -->
        <activity
            android:name=".ui.activity.NetTimerResponseActivity"
            android:label="" />
        <activity
            android:name=".ui.activity.NetTimerActivity"
            android:label="Net Timer"
            android:parentActivityName=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".notification.service.PushNotificationService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".system.foreground.NetworkChecker"
            android:foregroundServiceType="dataSync" />
        <service
            android:name=".system.foreground.LocalTaskService"
            android:foregroundServiceType="dataSync" />

        <receiver
            android:name=".system.broadcast.OsBootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>